<div id="wrap">
  <div id="header" (click)="resetView()" style="cursor: pointer;">
    <img class="logo" src="../../../assets/Gutenberg.png"/> <h1>Gutenberg</h1>
  </div>
  <div id="searchComponent">
    <form  (ngSubmit)="onSubmit()"  #currvitaeForm="ngForm">
        <div class="container">
            <div class="search"> 
                    <input  #termBox
                            type="text" class="form-control" 
                            placeholder="Please enter a seached word"
                            [(ngModel)]="word" name="termbox"
                            #name="ngModel">
                            <div class="submit" (click)="submit()">
                             <img src="../../../assets/fa-search.png">
                            </div> 
            </div>
            <div class="moreOption">
                <input id="isAdvancedSearch" type="checkbox"/>
                <span style="cursor:pointer" (click)="advancedSearch()">Recherche avancé</span>
              <img class="classement" (click)="changeOrder()" src="../../../assets/fa-settings.png"/>
              <span class="order" (click)="changeOrder()">(Décroissant)</span>
            </div>
        </div>
      </form>
    </div>
    
  <div class="separator"></div>
    <div class="container" *ngIf="books.length != 0">
      <h2 style="margin-left: 3%; text-decoration: underline;">Résultats : </h2>
        <div id="bookContent">
          <ng-container *ngFor='let book of books' class="col s6 m4">
            <div class="card" id="book_{{book.id}}">
                <a [href]="book.content_url" target="_blank" style="text-decoration: unset; color: black;">
                <h2>{{book.title}}</h2>
                <div class="card-image">
                  <img [src]="book.cover_url" loading="lazy">  
                </div>
              </a>
            </div>
          </ng-container>
      </div>
    </div>
    
    
    <!-- suggestions -->
    <div *ngIf="suggestions.length != 0" class='container'>
      <div class="row">
        <h2 style="margin-left: 3%; text-decoration: underline;">Suggestions : </h2>
        <!-- <booksort-engine [books] = suggestions></booksort-engine> -->
    
        <div class="container" *ngIf="books.length != 0">
          <div id="bookContent">
            <ng-container *ngFor='let book of suggestions' class="col s6 m4">
              <div class="card" id="book_{{book.id}}">
                  <h2>{{book.title}}</h2>
                  <div class="card-image">
                    <img [src]="book.cover_url">  
                  </div>
                </div>
            </ng-container>
        </div>
        </div>
      </div>
    </div>
</div>
  