#wrap{
    height: 100%;
    width: 100%;
    #header{
        height: 10vh;
        padding-left: 20px;
        display: flex;
        .logo {
            height: 100%;
            margin-right: 10px;
        }
    }

    #searchComponent{
        height: 10vh;
        form {
            height: 100%;
            width: 100%;
            & > .container {
                height: 100%;
                width: 80%;
                margin: auto;
                align-items: flex-start;
                display: flex;
                flex-direction: column;

                & > .search {
                    width: 60%;
                    height: 50%;
                    position: relative;
                    &> input {
                        width: 100%;
                        height: 40px;
                        padding: unset;
                        padding-left:10px;
                        border: 2px gray solid;
                    }
                    & > .submit {
                        position: absolute;
                        left: 100%;
                        transform: translateX(-78%);
                        height: 44px;
                        top: 0%;
                        padding-top: 6px;
                        cursor: pointer;
                        img {
                            height: 70%;
                        }
                    }
                }
                .moreOption {
                    position: relative;
                    width: 61.3%;
                    user-select: none;
                    .classement {
                        height: 16px;
                        position: absolute; 
                        left: 84%;
                        cursor: pointer;
                        top: 0%;
                        transform: translateY(15%);
                    }
                    .order {
                        height: 16px;
                        position: absolute; 
                        left: 87%;
                        top: 0%;
                        cursor: pointer;
                        transform: translateY(15%);

                    }
                }
            }
        }
    }
    .separator {
        height: 1px;
        width: 90%;
        margin: auto;
        border-top: 1px solid #bbb;
          
    }

    #bookContent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .card {
            height: 360px;
    
            h2 {
                text-align: center;
                height: 25px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .card-image {
                text-align: center;
                height: 83%;
                img {
                    object-fit: contain;
                    height: 83%;
                    width: 100%;
                }
            }
        }
        .card:hover{
            transform: scale(1.1,1.1);
        }
    }

}